#txt{
    color: black;
    font-family:'Times New Roman', Times, serif;
}
#ve1{
    color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    top: 30px;
    right: 30px;
    z-index: 1;

}
#vr1{
    color: green;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
}
#vr2{
    color: green;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
}
#vr3{
    color: green;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
}
#vr4{
    color: green;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
}
#vr5{
    color: green;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
}
#vr6{
    color: green;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
}
#vr7{
    color: green;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
}
#vr8{
    color: green;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
}
#vr9{
    color: green;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    position: absolute;
}
