#txt{
    position: absolute;
    color: black;
    font-family:'Times New Roman', Times, serif;
    height: 50px;
    width: 1000px;
    top: 500px;
    left: 310px;
    z-index: 2;
    animation-name: aaa;
    animation-duration: 10s;
    animation-delay: 0s;
}
#ve1{
    background-color: red;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 600px;
    animation-name: logo1;
    animation-duration: 10s;
    animation-delay: 0.2s;
    
}
#vr1{
    background-color: green;
    height: 80px;
    width: 80px;
    border-radius: 17px;
    position: absolute;
    top: 265px;
    left: 600px;
    animation-name: logo2;
    animation-duration: 10s;
    animation-delay: 0.4s;

}
#vr2{
    background-color: green;
    height: 80px;
    width: 80px;
    border-radius: 17px;
    position: absolute;
    top: 350px;
    left: 600px;
    animation-name: logo3;
    animation-duration: 10s;
    animation-delay: 0.6s;
}
#vr3{
    background-color: green;
    height: 80px;
    width: 80px;
    border-radius: 17px;
    position: absolute;
    top: 435px;
    left: 600px;
    animation-name: logo4;
    animation-duration: 10s;
    animation-delay: 0.8s;
}
#vr4{
    background-color: green;
    height: 80px;
    width: 80px;
    border-radius: 17px;
    position: absolute;
    top: 180px;
    left: 685px;
    animation-name: logo5;
    animation-duration: 10s;
    animation-delay: 1s;
}
#vr5{
    background-color: green;
    height: 80px;
    width: 80px;
    border-radius: 17px;
    position: absolute;
    top: 265px;
    left: 685px;
    animation-name: logo6;
    animation-duration: 10s;
    animation-delay: 1.2s;
}
#vr6{
    background-color: green;
    height: 80px;
    width: 80px;
    border-radius: 17px;
    position: absolute;
    top: 350px;
    left: 685px;
    animation-name: logo7;
    animation-duration: 10s;
    animation-delay: 1.4s;
}
#vr7{
    background-color: green;
    height: 80px;
    width: 80px;
    border-radius: 17px;
    position: absolute;
    top: 435px;
    left: 685px;
    animation-name: logo8;
    animation-duration: 10s;
    animation-delay: 1.6s;
}
#vr8{
    background-color: green;
    height: 80px;
    width: 80px;
    border-radius: 17px;
    position: absolute;
    top: 180px;
    left: 770px;
    animation-name: logo9;
    animation-duration: 10s;
    animation-delay: 1.8s;
}
#vr9{
    background-color: green;
    height: 80px;
    width: 80px;
    border-radius: 17px;
    position: absolute;
    top: 350px;
    left: 770px;
    animation-name: logo10;
    animation-duration: 10s;
    animation-delay: 2s;
}
@keyframes logo1{
    0%{
        left: 0%;
        top:10% ;
    }

    100%{
        top: 180px;
        left: 600px;
    }
 }
 @keyframes logo2{
    0%{
        left: 0%;
        top:30% ;
    }

    100%{
        top: 265px;
        left: 600px;
    }
 }
 @keyframes logo3{
    0%{
        left: 0%;
        top:50% ;
    }

    100%{
        top: 350px;
        left: 600px;
    }
 }
 @keyframes logo4{
    0%{
        left: 0%;
        top:70% ;
    }

    100%{
        top: 435px;
        left: 600px;
    }
 }
 @keyframes logo5{
    0%{
        left: 0%;
        top:90% ;
    }

    100%{
        top: 180px;
        left: 685px;
    }
 }
 @keyframes logo6{
    0%{
        left: 100%;
        top:10% ;
    }

    100%{
        top: 265px;
        left: 685px;
        
    }
 }
 @keyframes logo7{
    0%{
        left: 100%;
        top: 30%;
    }

    100%{
        top: 350px;
        left: 685px;

    }
 }
 @keyframes logo8{
    0%{
        left: 100%;
        top:50% ;
    }

    100%{
        top: 435px;
        left: 685px;
    }
 }
 @keyframes logo9{
    0%{
        left: 100%;
        top: 70%;
    }

    100%{
        top: 180px;
        left: 770px;
    }
 }
 @keyframes logo10{
    0%{
        left: 100%;
        right: 90%;
    }

    100%{
        top: 350px;
        left: 770px;
    }
 }
 @keyframes aaa{
    0%{
    opacity: 0%;
    }
    80%{
        opacity: 0%;
    }
    100%{
        width: 1000px;
        opacity: 100%;
    }
 }